#Tx_Nemadvent_question_image {
	margin: 0 40px 40px ;
}
.Tx_Nemadvent_pi1 .width540 ,
#Tx_Nemadvent_pi1 .width540 {
	margin: 0px 0 0 40px;
	width:540px;
}
.nemadvent_quest {
	width:640px;
}
.Tx_Nemadvent_pi1 .width40 {
	width:40px;
}

.Tx_Nemadvent_pi1 .width80 {
	width:80px;
	display: inline-block;
}

.Tx_Nemadvent_pi1 .width70 {
	width:70px;
	display: inline-block;
}
.Tx_Nemadvent_pi1 .width170 {
	width:170px;
	display: inline-block;
}
.Tx_Nemadvent_pi1 .width400 {
	width:400px;
	display: inline-block;
}

.Tx_Nemadvent_pi1 .width340 {
	width:340px;
	display: inline-block;
	margin:10px 0 10px;
}
.Tx_Nemadvent_pi1_prize{
	font-weight: bold;
}
.Tx_Nemadvent_pi1 .message{
	font-weight: bold;
	color: #1E78BE;
}
#Tx_Nemadvent_showanswers {
	cursor: pointer;
}

#Tx_Nemadvent_answers {
	display: none;
}
.Tx_Nemadvent_pi1 .winnerall {
	width:99px;
	display: inline-block;
	height:170px;
	overflow: hidden;
}
.Tx_Nemadvent_pi1_wrong {
	background-position: -554px -110px;
}
.Tx_Nemadvent_pi1_empty {
	background-position: -639px -110px;
}
.Tx_Nemadvent_pi1_correct {
	background-position: -537px -110px;
}
.Tx_Nemadvent_pi1_correct2 {
	background-position: -656px -110px;
}

.Tx_Nemadvent_questlist_sub {
	background: #FFF;
	margin: 8px 0px 16px 16px;
	padding: 16px;
	border: 1px solid #C4C4C4;
	width: 700px;
}
.nemadvent_questlist H3 {
	padding: 4px;
	cursor: pointer;
}
.nemadvent_questlist H3:hover {
	background: #8FADCC;
	color: #FFF;
}
.Tx_Nemadvent_pi1_legende {
	padding: 16px;
	margin-bottom: 16px;
	background: #FFF;
}