
<f:if condition="{settings.count} < {adventCounter}">
	<f:if condition="{adventCounter} > 12 ">
		<div class="alert alert-warning">
			<h3>Nicht vergessen!</h3>
			Ihnen fehlt noch mindestens ein Tag bei den Antworten! <f:if condition="{settings.count} > 12 "> Wäre ja schade, so Sie doch bereits die Hälfte geschafft haben.</f:if>
			<br>Anzahl Antworten:  <b>{settings.count} von {adventCounter} </b>
		</div>
		<br>
	</f:if>
</f:if>
<f:if condition="{settings.count} > 23">
	<f:if condition="{settings.afterenddate}">
		<f:then>
		</f:then>
		<f:else>
			<div class="alert alert-success">
				<h3>Sie haben es geschafft!</h3>
				Sie haben alle {settings.count} Fragen beantwortet. Prima. Dann bleibt uns nur "Viel Glück" zu wünschen, auf das möglichst viele Ihrer Antworten stimmen<br>
				Falls nicht, sind sie nun immerhin berechtigt, an der Verlosung des Allplan Fanpakets teilzunehmen.<br>

			</div>
			<br>
		</f:else>
	</f:if>
</f:if>

<div class="tx_jvadvent_calendar well">
	<f:flashMessages>
		<f:for each="{flashMessages}" as="flashMessage">
			<div class="alert alert-info message">
				<f:if condition="{flashMessage.title}">
					<strong>{flashMessage.title}</strong><br>
				</f:if>
				<p>{flashMessage.message -> f:format.html()}</p>
			</div>
		</f:for>
	</f:flashMessages>

	<f:if condition="{answerlist}">
		<f:then>
			<f:for each="{answerlist}" as="answer">
				<div class="tx_jvadvent_calendar_answer row">
					<div class="col-sm-2 col-xs-5">
						{answer.date}
					</div>
					<div class="col-sm-1 col-xs-2 text-center">
						{answer.myanswer}
					</div>
					<div class="col-sm-6 hidden-xs">
						{answer.myanswerTEXT}
					</div>
					<div class="col-sm-1 col-xs-3">
						<f:if condition="{settings.afterenddate}">
							<f:then>

							</f:then>
							<f:else>
								<f:if condition="{answer.crdate} > {settings.nowMinus24h}">
									<f:then>
										<f:link.action controller="Advent" action="single" class="btn btn-sm btn-default" title="{f:translate(key:'ChangeAnswer' , default:'ChangeAnswer')}" pageUid="{settings.list.pid.singleView}" arguments="{single: {adddate: '{answer.adddate}'}}"> >> </f:link.action>
									</f:then>
									<f:else>
										<span class="btn glyphicon glyphicon-info-sign" title="Ihre Antwort vom {answer.crdate -> f:format.date( format:'d.m. H:i')} kann nicht mehr ge&auml;ndert werden ">

										</span>
									</f:else>
								</f:if>
							</f:else>
						</f:if>
					</div>
					<div class="col-sm-2 col-xs-2">
						<f:if condition="{settings.showtotal} > 0">

							{answer.showpoint}<f:if condition="{answer.subpoints}">{answer.subpoints}</f:if>
						</f:if>
					</div>

				</div>
				<div class="clearfix">&nbsp;</div>
			</f:for>
		</f:then>
		<f:else>
			<div>
				<f:translate key="result_no_answers_found">result_no_answers_found </f:translate>.
			</div>
		</f:else>
	</f:if>
</div>
<div class="tx_jvadvent_calendar well well-primary">
	<b>
		<f:if condition="{settings.showtotal} > 0">
		<f:then>
			<f:translate key="yourresult">Your result</f:translate>
					: {settings.total}{settings.subtotal}  / {settings.count}
		</f:then>
		<f:else>
			<f:translate key="result_visible_at">Result will be shown after</f:translate>
					: {settings.endDate}
		</f:else>
		</f:if>
	</b>
</div>

	