<!-- {solution} {solution2} =={thisanswername} -->

<div class="row">
	<div class="col-xs-1">
		<f:if condition="{0:solution}=={0:thisanswername}">
			<f:then>
				<f:if condition="{0:solution}=={0:userAnswer}">
					<f:then>
						<span class="glyphicon rte-glyphicon-ok-success" title="Ihre Antwort war richtig"> </span>
					</f:then>
					<f:else>
						<span class="glyphicon rte-glyphicon-ok-danger"  title="Dies war die richtige Antwort"> </span>
					</f:else>
				</f:if>
			</f:then>
			<f:else>
				<f:if condition="{0:solution2}=={0:thisanswername}">
					<f:then>
						<f:if condition="{0:solution2}=={0:userAnswer}">
							<f:then>
								<span class="glyphicon rte-glyphicon-ok-success" title="Ihre Antwort war richtig (zweite Antwort)"> </span>
							</f:then>
							<f:else>
								<span class="glyphicon rte-glyphicon-ok-danger"  title="Dies war die richtige Antwort  (zweite Antwort)"> </span>
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:if condition="{0:thisanswername}=={0:userAnswer}">
							<f:then>
								<span class="glyphicon glyphicon-remove"  title="Ihre Antwort war falsch"> </span>
							</f:then>
							<f:else>
								<span class="glyphicon" title="falsche Antwort" > </span>
							</f:else>
						</f:if>
					</f:else>
				</f:if>
			</f:else>
		</f:if>
	</div>
	<div class="col-xs-11">
		<span>
			(<f:format.number decimals="1" decimalSeparator=",">{percent}</f:format.number> %) <f:format.html parseFuncTSPath="">{thisanswertext}</f:format.html>
		</span>
	</div>
</div>



										
	
								
								
								
