{namespace helper=Tx_Nemadvent_ViewHelpers}
<f:if condition="{winnerdata}">
	<f:then>
		<div class="Tx_Nemadvent_pi1">
				<f:for each="{winnerdata}" as="winner">
					<span class="left winnerall">
						<f:if condition="{settings.showtotal} > 0">
							<f:then>
								<f:link.external uri="/user/{winner.username}"  defaultScheme="">
									<f:image title="{winner.username}" id="user{winner.feuser_uid}" alt="img" height="120c" width="80c" src="{winner.tx_mmforum_avatar}"/>
								</f:link.external>
								<br/>
							</f:then>
							<f:else>
                                <f:if condition="{isnemintern} > 0">
                                    <f:then>
                                        <f:link.external uri="/user/{winner.username}"  defaultScheme="">
                                            <f:image title="{winner.username}" id="user{winner.feuser_uid}" alt="img" height="120c" width="80c" src="{winner.tx_mmforum_avatar}"/>
                                        </f:link.external>
                                        <br/>
                                    </f:then>
                                    <f:else>
								        <f:image title="Visible after the end of the game" alt="img" height="120c" width="80c" src="{winner.tx_mmforum_avatar}"/>
								        <br/>
                                    </f:else>
                                </f:if>
							</f:else>
						</f:if>
						Points: {winner.pointtotal} / {winner.countttotal}
					</span>
				</f:for>		
		</div>
		<div><i class="small left "><f:translate key="_votes_counted_until">Only votes Counted until: </f:translate> {mindate}</i></div>
	</f:then>
	<f:else>
		<p><f:translate key="no_questions">some definitions are missing or no winner found</f:translate></p>
	</f:else>
</f:if>
{debug}
