			<f:if condition="{isTester || isOrganizer}">
				<f:then>
					<h3>You are a Member of the group 'Tester' or 'Organizer'</h3>
					<p>So you can simulate any Days Question if you the day as single Number<br/>f.e. if Startdate is 1.12.<f:format.date format="y">{settings.startDateTimeStamp}</f:format.date> so please enter "3" to see the 3.12.<f:format.date format="y">{settings.startDateTimeStamp}</f:format.date><br/>
					<f:form method="post" action="single" name="single" id="submit">
						<f:form.textfield property="adddate" value="" />
							<span class="submitWrapper"><f:form.submit value="show" name="submit" class="search_text" /></span>		
					</f:form>
					</p>
			
				</f:then>	
			</f:if>
<div class="clearfix">&nbsp;</div>
										
	
								
								
								
