<div class="row">
	<f:if condition="{mypid}">
		<f:then>
			<span class=" col-xs-push-1  col-xs-2 col-md-1">
				<f:link.action class="btn btn-default" action="answer" id="tx_jvadvent_answer_{thisanswername}" controller="User" pageUid="{mypid}" arguments="{adventscat: adventscat, question: question, answer: thisanswerno, adddate: adddate}">
					- {thisanswername} -
				</f:link.action>
			</span>
			<span class="col-xs-push-1  col-xs-9 col-md-10">
				<f:link.action action="answer" id="tx_jvadvent_answer_{thisanswername}" controller="User" pageUid="{mypid}" arguments="{adventscat: adventscat, question: question, answer: thisanswerno, adddate: adddate}">
					<f:format.html parseFuncTSPath="">{thisanswertext}</f:format.html>
				</f:link.action>
			</span>
		</f:then>
		<f:else>
			<span class=" col-xs-push-1  col-xs-2 col-md-1">
				 {thisanswername}
			</span>
			<span class="col-xs-push-1 col-xs-9 col-md-10">
				<f:format.html parseFuncTSPath="">{thisanswertext}</f:format.html>
			</span>
		</f:else>
	</f:if>
</div>
										
	
								
								
								
