<div class="row mb-2">

	<f:if condition="{mypid}">
		<f:then>
			<span class=" col-xs-push-1  col-xs-2 col-md-1">
				<f:link.action class="btn btn-default rounded-circle tx_jvadvent-button" action="answer" id="tx_jvadvent_answer_{thisanswername}" controller="User" pageUid="{mypid}" arguments="{question: question, answer: thisanswerno, adddate: adddate}">
					<span class="center"> - {thisanswername} -</span>
				</f:link.action>
			</span>
			<span class="col-xs-push-1  col-xs-9 col-md-10">
				<f:link.action action="answer" id="tx_jvadvent_answer_{thisanswername}" controller="User" pageUid="{mypid}" arguments="{question: question, answer: thisanswerno, adddate: adddate}">
					<f:format.html>{thisanswertext}</f:format.html>
				</f:link.action>
			</span>
		</f:then>
		<f:else>

			<span class=" col-xs-push-1  col-xs-2 col-md-1">
				 {thisanswername}
			</span>
			<span class="col-xs-push-1 col-xs-9 col-md-10">
				<f:format.html>{thisanswertext}</f:format.html>
			</span>
		</f:else>
	</f:if>
</div>
										
	
								
								
								
