
							<div id="tx_jvadvent_calendar">
								<div id="tx_jvadvent_question_top">
								
		  							<div class="well  well-default">
										<div class="row">
											<div class="col-xs-12 col-sm-9">
												<h3>{settings.todayformated}: {question.title}</h3>
												<div class="tx_jvadvent_question_longdesc">
													<f:format.raw>{question.descLong}</f:format.raw>
												</div>
											</div>
											<div class="col-xs-12 col-sm-3">

												<f:if condition="{question.image.uid}">
													<f:then>
														<a class="btmModalLink" href="#" title="{question.title}" data-bmdwidth="970" data-bmdheight="600" data-target="#adventModal" data-toggle="modal" >
															<f:if condition="{question.image.uid}">
																<f:image style="width: 100%; height: auto;" src="{question.image.uid}" alt="IMG" treatIdAsReference="1"/>
															</f:if>
														</a>
													</f:then>
												</f:if>
											</div>
										</div>
									</div>

									<div class="clearfix">&nbsp;</div>
									<div id="tx_jvadvent_showanswers" class="row {settings.hideAgb}" >
										<span class="col-xs-push-1 col-xs-2 col-md-1">
											<input type="checkbox" value="y" name="tx_jvadvent_calendar[accepted]" onClick="jQuery('#tx_jvadvent_answers').removeClass('hide');jQuery('#tx_jvadvent_showanswers').addClass('hide');">
											<input type="hidden" value="{adddate}" name="tx_jvadvent_calendar[answer]">
										</span>
										<span class="col-xs-push-1 col-xs-9 col-md-10">
											<f:if condition="{settings.advent.list.mustacceptagb}">
												<f:then>
													<f:format.html>{settings.advent.list.mustacceptagb}</f:format.html>
												</f:then>
												<f:else>
													Ja, ich habe die <f:link.page pageUid="" target="_blank">Regeln gelesen</f:link.page>, akzeptiere die Regeln und möchte antworten.
												</f:else>
											</f:if>

										</span>
									</div>	
									<div id="tx_jvadvent_answers" class="row {settings.hideQuestion}" >
										<f:if condition="{question.rangemax} > 0">
											<f:then>
												<f:render partial="RangeAnswer" arguments="{question: question, settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>

											</f:then>
											<f:else>
												<div class="row">
													<div class="tx_jvadvent_WuerfelWeg">
														<div id="tx_jvadvent_Wuerfel" onclick="rollDice(); " title="Keine Ahnung? Klicke zum Würfeln deiner Antwort!">
															<span id="tx_jvadvent_WuerfelZahl">?</span>
														</div>
													</div>
												</div>

												<f:render partial="Answer" arguments="{thisanswertext: question.answer1,thisanswerno: '1',thisanswername: '1', adddate: adddate, question: question.uid, settings: settings, adventscat:adventscat, isTester: isTester, isOrganizer: isOrganizer, mypid: mypid}"/>
												<f:render partial="Answer" arguments="{thisanswertext: question.answer2,thisanswerno: '2',thisanswername: '2', adddate: adddate, question: question.uid, settings: settings, adventscat:adventscat, isTester: isTester, isOrganizer: isOrganizer,  mypid: mypid}"/>
												<f:render partial="Answer" arguments="{thisanswertext: question.answer3,thisanswerno: '3',thisanswername: '3', adddate: adddate, question: question.uid, settings: settings, adventscat:adventscat, isTester: isTester, isOrganizer: isOrganizer,  mypid: mypid}"/>
												<f:render partial="Answer" arguments="{thisanswertext: question.answer4,thisanswerno: '4',thisanswername: '4', adddate: adddate, question: question.uid, settings: settings, adventscat:adventscat, isTester: isTester, isOrganizer: isOrganizer,  mypid: mypid}"/>
												<f:render partial="Answer" arguments="{thisanswertext: question.answer5,thisanswerno: '5',thisanswername: '5', adddate: adddate, question: question.uid, settings: settings, adventscat:adventscat, isTester: isTester, isOrganizer: isOrganizer,  mypid: mypid}"/>


											</f:else>

										</f:if>


									</div>
									
									<div class="clearfix">&nbsp;</div>
									
									<f:if condition="{question.descShort}">
										<f:if condition="{settings.showtip}">

											<f:then>
												<div class="well  well-default">
													<h3><f:translate key="hintoftheday">Tipp des Tages</f:translate> {settings.todayformated} </h3>
													<div>
														<f:format.html>{question.descShort}</f:format.html>
														<f:if condition="{isOrganisator} || {isTester}">
															<hr />
															<p>You are Organizer or in Tester Group</p>
														</f:if>
													</div>

												</div>
											</f:then>
											<f:else>
												<f:if condition="{isOrganisator}">
													<div class="well well-default">
														<h3><f:translate key="hintoftheday">Tipp des Tages</f:translate> {settings.todayformated} (visible for Organisator)</h3>
														<div>
															<f:format.html>{question.descShort}</f:format.html>
														</div>
														<f:if condition="{settings.beforestartdate}">
															<hr />
															<p><i>Visible for Organisator: the correct is answer: {question.correct}</i></p>
														</f:if>
													</div>
												</f:if>
											</f:else>

										</f:if>
									</f:if>	
								</div>
							</div>

							<f:asset.script identifier="advent-dice">

								let rolling = false;
								function rollDice() {
								    const dice = document.getElementById('tx_jvadvent_Wuerfel');
									const diceValue = document.getElementById('tx_jvadvent_WuerfelZahl');
									const container = document.querySelector('.tx_jvadvent_WuerfelWeg');

								    if (diceValue.textContent == '?') {
										if (rolling) return;
										var advent_firstClick = 0;
										rolling = true;

										const maxMove = container.offsetWidth - dice.offsetWidth - 10; // 10px Puffer
										let start = null;
										let duration = 2000;
										let interval = setInterval(() => {
											diceValue.textContent = Math.floor(1 + Math.random() * 5);
										}, 70);

										function animate(ts) {
											if (!start) start = ts;
												let elapsed = ts - start;
												let progress = Math.min(elapsed / duration, 1);
												dice.style.transform = `translateY(${progress * maxMove}px)`;
												if (progress < 1) {
													requestAnimationFrame(animate);
											}
										}
										requestAnimationFrame(animate);

										setTimeout(() => {
											clearInterval(interval);
											diceValue.textContent = Math.floor(1 + Math.random() * 5);
											rolling = false;
										}, duration);
									} else {
										window.location.href = jQuery("#tx_jvadvent_answer_" + diceValue.textContent ).attr("href");
									}
								}
							</f:asset.script>


							<div class="modal fade" id="adventModal" style="padding: 16px;">
								<div class="modal-dialog" style="width: 900px; max-width: 100%; max-height: 100%;">
									<div class="modal-content bmd-modalContent">
										<div class="modal-body">
											<div class="close-button"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
											<div class="">
												<f:if condition="{question.image.uid}">
													<f:image style="width: 100%; height: auto;" src="{question.image.uid}" alt="IMG" treatIdAsReference="1"/>
												</f:if>
											</div>
										</div>
									</div>
								</div>
							</div>