
		<div class="tx_jvadvent_calendar">

			<div class="tx_jvadvent_calendar_legende right well col-xs-12 col-md-3">
				<div class="col-xs-8 col-md-12">
					<f:if condition="{settings.afterenddate}">
					<h3>Legende:</h3>
					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon rte-glyphicon-ok-success" title="Ihre Antwort war richtig"> </span>
						</div>
						<div class="col-xs-9">
							Ihre Antwort war richtig
						</div>
					</div>

					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon rte-glyphicon-ok-danger"  title="Dies war die richtige Antwort"> </span>
						</div>
						<div class="col-xs-9">
							Dies war die richtige Antwort
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<span class="glyphicon glyphicon-remove"  title="Ihre Antwort war falsch"> </span>
						</div>
						<div class="col-xs-9">
							Ihre Antwort war falsch
						</div>
					</div>
					</f:if>
				</div>
				<div class="col-xs-4 col-md-12">
					<br />
					<a id="showallAKRAnswers" class="btn btn-primary" onclick="showallAKRAnswers();"  title="{f:translate(key:'solutions.expandTooltip' ,default:'Expand/Show all questionsdetails with answers and Solution')}">
						<i class="glyphicon glyphicon-resize-full"></i></a>
					<a id="hideallAKRAnswers" class="btn btn-primary hide" onclick="hideallAKRAnswers();" title="{f:translate(key:'solutions.percentNormalTooltip' ,default:'Show default list of all questions')}">
						<i class="glyphicon glyphicon-resize-small"></i></a>


					<a id="showAKRPercent" class="btn btn-primary" onclick="showOnlyAKRPercent();" title="{f:translate(key:'solutions.percentTooltip' ,default:'Zeige alle Antworten auf alle Fragen, aber nur die prozentuale Verteilung der jeweiligen Antworten aller User')}">
						<f:translate key="solutions.percentButton">% Answers</f:translate>
					</a>
					<a id="undoShowAKRPercent" class="btn btn-primary hide" onclick="undoShowOnlyAKRPercent();" title="{f:translate(key:'solutions.percentNormalTooltip' ,default:'Zeige wieder die normale Liste der Fragen als Übersicht')}">
						<f:translate key="solutions.percentNormalButton">Normal</f:translate>
					</a>
				</div>


			</div>
			<div  class=".JvAdvent_quest JvAdvent_questlist left col-xs-12 col-md-8">
				<f:for each="{questions}" as="question" iteration="count">

					<h4><f:format.date format="%d">{question.date}</f:format.date> - {question.title}

						<f:if condition="{isOrganisator}">
							<f:if condition="{question.totalAnswers} > 0 ">
								<span class="small"> - {question.totalAnswers} User</span>
							</f:if>
						</f:if>
					</h4>
					<div  class="tx_jvadvent_questlist_sub well hide">
						<div class="row">
							<f:link.action class="btn btn-default rounded" action="single" controller="Advent" arguments="{single: {adddate: count.index}}">Show full question</f:link.action>
							<f:if condition="{question.image}">
								<f:then>
									<div class="col-sm-9">
										<f:format.html>{question.descLong}</f:format.html>
									</div>
									<div class="col-sm-3">
										<f:image style="width:100%; height:auto;" width="220" src="{question.image.uid}" alt="img" treatIdAsReference="1"/>
									</div>
								</f:then>
								<f:else>
									<f:format.html>{question.descLong}</f:format.html>
								</f:else>
							</f:if>


						</div>


						<div class="tx_jvadvent_answers">

							<f:render partial="AnswerInList" arguments="{thisanswertext: question.answer1,thisanswerno: '1',thisanswername: '1', adddate: adddate, solution: question.correct1, solution2: question.correct2, userAnswer: question.userAnswer, percent: question.answer1count , settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>
							<f:render partial="AnswerInList" arguments="{thisanswertext: question.answer2,thisanswerno: '2',thisanswername: '2', adddate: adddate, solution: question.correct1, solution2: question.correct2, userAnswer: question.userAnswer, percent: question.answer2count , settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>
							<f:render partial="AnswerInList" arguments="{thisanswertext: question.answer3,thisanswerno: '3',thisanswername: '3', adddate: adddate, solution: question.correct1, solution2: question.correct2, userAnswer: question.userAnswer, percent: question.answer3count , settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>
							<f:render partial="AnswerInList" arguments="{thisanswertext: question.answer4,thisanswerno: '4',thisanswername: '4', adddate: adddate, solution: question.correct1, solution2: question.correct2, userAnswer: question.userAnswer, percent: question.answer4count , settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>
							<f:render partial="AnswerInList" arguments="{thisanswertext: question.answer5,thisanswerno: '5',thisanswername: '5', adddate: adddate, solution: question.correct1, solution2: question.correct2, userAnswer: question.userAnswer, percent: question.answer5count , settings: settings, adventscat:adventscat, isTester: isTester, mypid: mypid}"/>

							<f:if condition="{question.descShort}">
								<div class="clearfix"> <br /></div>
								<div class="JvAdvent_tipp">
									<h4><f:translate key="hintoftheday">Tipp des Tages</f:translate></h4>
									<div>
										<f:format.html>{question.descShort}</f:format.html>
									</div>
								</div>
							</f:if>
							<f:if condition="{question.solution}">
								<div class="clearfix"> <br /></div>
								<div class="JvAdvent_tipp">
									<h4><f:translate key="how_to_find_solution">Lösungsweg</f:translate></h4>
									<div>
										<f:format.html>{question.solution}</f:format.html>
									</div>
								</div>
							</f:if>
							<div class="clearfix"> <br /></div>
						</div>
					</div>
				</f:for>
			</div>
		</div>

		<f:asset.script identifier="jvadvent_qeustionlist">
			jQuery(".tx_jvadvent_calendar .JvAdvent_questlist H4").each(function(){
				jQuery(this).click(function(eventObject){
					eventObject.preventDefault();
					adventQuestion = jQuery(this).next() ;
					if ( jQuery(adventQuestion).hasClass("hide") ) {
						jQuery(adventQuestion).removeClass("hide") ;
					} else {
						jQuery(adventQuestion).addClass("hide");
					}
				});
			});
			function showallAKRAnswers() {
				jQuery(".tx_jvadvent_calendar .JvAdvent_questlist H4").each(function(){
					adventQuestion = jQuery(this).next() ;
					jQuery(adventQuestion).removeClass("hide") ;
				});
				jQuery("#showallAKRAnswers").addClass("hide") ;
				jQuery("#hideallAKRAnswers").removeClass("hide") ;
			}
			function hideallAKRAnswers() {
				jQuery(".tx_jvadvent_calendar .JvAdvent_questlist H4").each(function(){
					adventQuestion = jQuery(this).next() ;
					jQuery(adventQuestion).addClass("hide") ;
				});
				jQuery("#hideallAKRAnswers").addClass("hide") ;
				jQuery("#showallAKRAnswers").removeClass("hide") ;
			}
			function showOnlyAKRPercent() {
				jQuery(".tx_jvadvent_calendar .JvAdvent_questlist H4").each(function(){
					adventQuestion = jQuery(this).next() ;
					jQuery(adventQuestion).removeClass("hide") ;
				});
				jQuery(".tx_jvadvent_calendar .tx_jvadvent_questlist_sub P").each(function(){
					jQuery(this).addClass("hide") ;
				});
				jQuery(".tx_jvadvent_calendar .tx_jvadvent_questlist_sub .clearfix").each(function(){
					jQuery(this).css("display" , "none") ;
				});
				jQuery(".tx_jvadvent_calendar .JvAdvent_tipp").each(function(){
					jQuery(this).addClass("hide") ;
				});
				jQuery("#showAKRPercent").addClass("hide") ;
				jQuery("#undoShowAKRPercent").removeClass("hide") ;
			}
			function undoShowOnlyAKRPercent() {
				jQuery(".tx_jvadvent_calendar .JvAdvent_questlist H3").each(function(){
					adventQuestion = jQuery(this).next() ;
					jQuery(adventQuestion).addClass("hide") ;
				});
				jQuery(".tx_jvadvent_calendar .tx_jvadvent_questlist_sub P").each(function(){
					jQuery(this).removeClass("hide") ;
				});
				jQuery(".tx_jvadvent_calendar .tx_jvadvent_questlist_sub .clearfix").each(function(){
					jQuery(this).css("display" , "block") ;
				});
				jQuery(".tx_jvadvent_calendar .JvAdvent_tipp").each(function(){
					jQuery(this).removeClass("hide") ;
				});

				jQuery("#showAKRPercent").removeClass("hide") ;
				jQuery("#undoShowAKRPercent").addClass("hide") ;
				jQuery("#hideallAKRAnswers").addClass("hide") ;
				jQuery("#showallAKRAnswers").removeClass("hide") ;
			}
		</f:asset.script>
								
								
								
