<f:if condition="{mypid}">
	<f:then>

		<span class="left width540">

			<div id="tx_jvadvent_Regler_Zahl"><p id="tx_nemdvent_output_div"><b>Ihre Antwort:</b> </p>



					<input id="tx_jvadvent_rangeanswer" type="range" min="{question.rangemin}" max="{question.rangemax}"
					value="{question.rangemin}" onchange="tx_jvadvent_liveValue()" oninput="tx_jvadvent_liveValue()">

					<br>
					<div class="col-xs-8">
					<output id="tx_jvadvent_output" name="tx_jvadvent_amount" for="tx_jvadvent_rangeanswer">
						<f:translate key="use_range">Zum beantworten, Schieberegler benutzen und Button anklicken</f:translate>! </output>
					</div>
					<div class="col-xs-4 text-right">
					<a class="btn btn-primary" style="cursor: pointer;" onclick="tx_advent_range();return false;"> >> </a>
					</div>

			</div>

		</span>
	</f:then>
	<f:else>	
		<span class=" left width40">

		</span>
		<span class="left width540">
			<f:translate key="correct_answer_was"> Die korrekte Antwort lautete</f:translate>: {question.correct}

		</span>
	</f:else>
</f:if>	
<div class="clearfix">&nbsp;</div>
<f:link.action action="answer" class="hide" id="tx_jvadvent_rangeUrl" controller="User" pageUid="{mypid}" arguments="{adventscat: adventscat, question: question.uid, answer:  adddate: adddate}">
</f:link.action>
										
<f:asset.script identifier="jvadvent-range-script">
	function tx_advent_range() {
		let url =  jQuery("#tx_jvadvent_rangeUrl").attr("href");
		if ( url.indexOf('http') < 0 ) {
			if ( url.indexOf('/') == 0 ) {
				url= window.location.protocol  + "//" + window.location.hostname +  url ;
			} else {
				url= window.location.protocol  + "//" + window.location.hostname + "/" + url ;
			}
		}
		url = url +  "&tx_jvadvent_user[rangeanswer]=" + jQuery("#tx_jvadvent_rangeanswer").val();
		window.location.href = (url);

	}

	function tx_jvadvent_liveValue() {
		var tx_jvadvent_Input_Zahl = jQuery("#tx_jvadvent_rangeanswer").val();
		jQuery("#tx_jvadvent_output").html(tx_jvadvent_Input_Zahl);
		jQuery("#tx_jvadvent_output").css("fontSize", "30px");


	};
</f:asset.script>




								
								
