<f:if condition="{question}">
	<f:then>
		<div class="tx_jvadvent_question">
			<f:if condition="{isTester} || {isOrganizer}">
				<f:then>
					<f:render partial="Adddate" arguments="{isTester: isTester, isOrganisator: isOrganisator}"/>
				
					<f:render partial="Question" arguments="{question: question, settings: settings, adventscat:adventscat,isTester: isTester,isOrganisator: isOrganisator, mypid: mypid}"/>
				</f:then>	
				<f:else>	
					<f:if condition="{settings.beforestartdate}">
						<f:then>
							<div style="display:block;">
								<f:render partial="BeforeStartdate" arguments="{_all}"></f:render>
							</div>
						</f:then>	
						<f:else>
							<f:if condition="{settings.afterenddate}">
								<f:then>
								<div style="display:block;"> 
									<<f:render partial="AfterEnddate" arguments="{_all}"></f:render>
								</div>	
								</f:then>	
								<f:else>	
									<f:if condition="{mypid}">
										<f:then>
											<f:render partial="Question" arguments="{question: question, settings: settings, adventscat:adventscat, isTester: isTester,isOrganisator: isOrganisator, adddate:adddate,  mypid: mypid}"/>
										</f:then>	
									<f:else>
										<f:render partial="BeforeEnddate" arguments="{_all}"></f:render>
									</f:else>
									</f:if>		
								</f:else>	
							</f:if>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</div>

	</f:then>
	<f:else>
		<f:render partial="Adddate" arguments="{isTester: isTester, isOrganizer: isOrganisator}"/>

		<p><h3>
			<f:translate key="no_questions">Definitions of Question is missing</f:translate>
			</h3>
			Startdate settings: {settings.startDate}<br/>
			Question as Intval: {settings.today}<br/>
			Question formated : {settings.todayformated}<br/>
		    <f:if condition="{isOrganisator}">
				debug: {settings.debug}
			</f:if>

		</p>

	</f:else>
</f:if>

<f:asset.css identifier="jvadvent-css" href="EXT:jvadvent/Resources/Public/Css/advent.css"></f:asset.css>
