<f:if condition="{winners}">
	<f:then>
		<div class="tx_jvadvent_calendar">
				<h2><f:translate key="tx_jvadvent_domain_model_winner.listofwinners">List of Winners</f:translate></h2>
				<f:if condition="{settings.showSolutions} || {isOrganizer}">
					<f:then>
						<div class="row ">
							<f:for each="{winners}" as="winner">

								<div class="col-xs-4 col-md-2 equalHeight">
										user <br>Image<br> ...
								</div>
								<div class="col-xs-8  col-md-4 equalHeight bg-info rounded">
									<f:if condition="{winner.subpoints} > 100000">
										<f:then>
											{winner.points +1},<f:format.padding padLength="5" padType="left" padString="0">{100000 -winner.subpoints}</f:format.padding>/ {winner.count} : {winner.feuserUid}
										</f:then>
										<f:else>
											{winner.points},<f:format.padding padLength="5" padType="left" padString="0">{winner.subpoints}</f:format.padding> / {winner.count} : {winner.feuserUid}
										</f:else>
									</f:if>

								</div>

							</f:for>
						</div>
					</f:then>
					<f:else>
						<p><f:translate key="tx_jvadvent_domain_model_winner.winners_hidden">Winners are visible after the end date!</f:translate></p>
						<f:render partial="BeforeEnddate" arguments="{_all}"></f:render>
					</f:else>
				</f:if>

		</div>

	</f:then>
	<f:else>
		<p> no Winners found</p>
	</f:else>
</f:if>