#tx_jvadvent_question_image {
	margin: 0 40px 40px ;
}
.tx_jvadvent_pi1 .width540 ,
#tx_jvadvent_pi1 .width540 {
	margin: 0px 0 0 40px;
	width:540px;
}
.JvAdvent_quest {
	width:640px;
}
.tx_jvadvent_pi1 .width40 {
	width:40px;
}

.tx_jvadvent_pi1 .width80 {
	width:80px;
	display: inline-block;
}

.tx_jvadvent_pi1 .width70 {
	width:70px;
	display: inline-block;
}
.tx_jvadvent_pi1 .width170 {
	width:170px;
	display: inline-block;
}
.tx_jvadvent_pi1 .width400 {
	width:400px;
	display: inline-block;
}

.tx_jvadvent_pi1 .width340 {
	width:340px;
	display: inline-block;
	margin:10px 0 10px;
}
.tx_jvadvent_pi1_prize{
	font-weight: bold;
}
.tx_jvadvent_pi1 .message{
	font-weight: bold;
	color: #1E78BE;
}
#tx_jvadvent_showanswers {
	cursor: pointer;
}

#tx_jvadvent_answers {
	 display: none;
 }
#tx_jvadvent_answers  .row {
	margin-bottom: 15px;
}
.tx_jvadvent_pi1 .winnerall {
	width:99px;
	display: inline-block;
	height:170px;
	overflow: hidden;
}
.tx_jvadvent_pi1_wrong {
	background-position: -554px -110px;
	background-position: -55px -16px;
}
.tx_jvadvent_pi1_empty {
	background-position: -639px -110px;
	background-position: -170px -16px;
}
.tx_jvadvent_pi1_correct {
	background-position: -537px -110px;
	background-position: -58px -16px;
}
.tx_jvadvent_pi1_correct2 {
	background-position: -656px -110px;
	background-position: -190px -16px;
}


.JvAdvent_questlist H3 ,
.JvAdvent_questlist H4 {
	padding: 4px;
	cursor: pointer;
}
.JvAdvent_questlist H3:hover {
	background: #8FADCC;
	color: #FFF;
}
.tx_jvadvent_pi1_legende {
	padding: 16px;
	margin-bottom: 16px;
	background: #FFF;
}

div#tx_advent_Wuerfel {margin-left: 50px; width: 50px; height: 50px;
	border-color:#D1D1D1;
	border-radius: 6px;
	border-style: solid;
	position:relative;
	background-color:#8fadcc;
	-webkit-text-fill-color: #FFFFFF;
	opacity: 1;
	cursor: help;
	-webkit-box-shadow: 5px 3px 3px 0px rgba(46,38,46,0.7);
	-moz-box-shadow: 5px 3px 3px 0px rgba(46,38,46,0.7);
	box-shadow: 5px 3px 3px 0px rgba(46,38,46,0.7);

}
div#tx_advent_Wuerfel P {
	text-align: center; vertical-align: middle; font-size: 40px; margin-top: 0px;
	line-height: 1.231;
}

div#tx_advent_WuerfelMauer {
	left:0px;
	background-color:#8fadcc;
	height:56px;
	width:2px;
	position:absolute;
	margin-top: -56px;
	overflow:hidden;
	display: none;
}
.tx_advent_WuerfelWeg {
	margin-bottom: 24px;
}


/* KALENDER */



/* NEU */


.tx_advent_doorMsg {
	margin-top: 20px;
	text-align: center;
	color: #fff;
}



/* /NEU */
.tx_Advent_questions_day {
	border: #ccc ;
	border-width: 1px;
	border-style: solid;
	font-size: 50px;
	text-align:center;
	position:relative;
	/*	background-image: url(../img/adventskalenderbild_vorher.jpg); */
	overflow: hidden;
	height: 140px;
	padding: 0 ;

}
.tx_Advent_questions_active {
	cursor: pointer;
}
.tx_Advent_questions_active:hover {
	background: none;
	opacity: 1 ;
}

.tx_Advent_questions_day P {
	color: #444 ;
	text-shadow: #CCC 2px 2px;
	margin: 30px auto 0;

}

.tx_Advent_questions_today P
{
	font-size:80px;
	color: #AA221a;
	margin-top: 15px;
}


div#tx_Advent_questions_img {
	/* background-image: url(../img/Sterne_Hintergrundbild980px_560px_72dpi.jpg);  */
	background-image: url(../img/rentiere_hintergrundbild_akr_960_560_.jpg);
	background-color: black;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height:560px;
}
.tx_Advent_questions_closed {
	background-color: white;
	opacity: 0.7;
}

.tx_Advent_questions_dayOpened {

	transition: opacity .5s ease-out-in ;
	background: none;


}


.tx_Advent_questions_inactive_background {
	background-color: white;
	opacity: 0.7;
	height: 140px;
}



input[id='tx_jvadvent_rangeanswer'] {
	width: 100%;
	display: block;
}

#tx_jvadvent_output {
	font-size: 13px;

}

div#tx_jvadvent_Regler_Zahl {
	text-align: center;

}



@media screen and (max-width: 900px) {
	.tx_Advent_questions_day {
		height: 100px;
	}
	div#tx_Advent_questions_img {
		height: 400px;
	}
	.tx_Advent_questions_day P {
		margin: 15px auto 0;
		font-size: 35px;
	}
	.tx_Advent_questions_today P {
		margin: 5px auto 0;
		font-size: 50px;

	}
}
@media screen and (max-width: 760px) {
	.tx_Advent_questions_day {
		height: 75px;
	}
	div#tx_Advent_questions_img {
		height: 600px;
		background-image: url(../img/Sterne_Hintergrundbild560_px_980px_72dpi.jpg);
	}
}