{namespace helper=Tx_Nemadvent_ViewHelpers}
<f:if condition="{adventscat}">
	<f:then>
		<div class="Tx_Nemadvent_links">
			<f:if condition="{settings.beforestartdate}">
				<f:then>
					<div style="display:block;"> 
						<f:translate key="willstart">Startdate: </f:translate> {settings.startdate}
						<f:translate key="itisnow"> - Now it is : {settings.now} </f:translate>
					</div>
				</f:then>	
				<f:else>
					<f:if condition="{settings.afterenddate}">
						<f:then>
						<div style="display:block;"> 
							<f:translate key="hasend">enddate: {settings.enddate}</f:translate>
							<f:translate key="itisnow"> - Now it is : {settings.now} </f:translate>
						</div>	
						</f:then>	
						<f:else>	
		
								<f:if condition="{todayspid}">
									<span class="submitWrapper">
										<f:link.action pageUid="{todayspid}" arguments="{adventscat: adventscat}">
											<f:translate key="todays_question">Todays Question</f:translate>
										</f:link.action>
									</span>
								</f:if>
								<f:if condition="{yesterdayspid}">
									<span class="submitWrapper">
										<f:link.action pageUid="{yesterdayspid}" arguments="{adventscat: adventscat}">
											<f:translate key="yesterdays_question">Yesterdays Question</f:translate>
										</f:link.action>
									</span>
								</f:if>	
						
						</f:else>	
					</f:if>
				</f:else>
			</f:if>
		
			<f:if condition="{mypid}">
				<span class="submitWrapper">
					<f:link.action pageUid="{mypid}" arguments="{adventscat: adventscat}">
						<f:translate key="my_answers">My Answers</f:translate>
					</f:link.action>
				</span>
			</f:if>
		</div>

	</f:then>
	<f:else>
		<p><f:translate key="no_questions">some definitions are missing</f:translate></p>
	</f:else>
</f:if>