{namespace helper=Tx_Nemadvent_ViewHelpers}
<f:if condition="{questions}">
	<f:then>
		<div class="Tx_Nemadvent_questionsList">
			<f:if condition="{isnemintern}">
				<f:then>
					<h1>ONLY Visible for NemIntern Users!</h1>
					<f:render partial="Questionlist" arguments="{questions: questions, settings: settings, adventscat: adventscat, isnem: isnem,isnemintern: isnemintern}"/>

				</f:then>
				<f:else>	
							<f:if condition="{settings.afterenddate}">
								<f:then>
								<div style="display:block;">
									<f:render partial="Questionlist" arguments="{questions: questions, settings: settings, adventscat: adventscat, isnem: isnem,isnemintern: isnemintern}"/>
								</div>
								</f:then>	
								<f:else>	
											<h3>Something is wrong: </h3><br/>
											Plugin should not be visible before enddate!
											enddate: {settings.enddate} <br/>
											now: {settings.now} <br/>
								</f:else>
							</f:if>

				</f:else>
			</f:if>
		</div>

	</f:then>
	<f:else>
		<h3>
			<f:translate key="no_questions">Definitions of Questions is missing</f:translate>
		</h3>
	</f:else>
</f:if>
